html {
	font-size: 14px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

h1 {
	font-size: 1.5rem;
}


.category-container {
	text-align: center;
	/* 見出しと全体の中央揃え */
	margin-top: 20px;
	/* 上部の余白 */
}

.row {
	display: flex;
	/* 横並びに配置 */
	justify-content: center;
	/* 中央揃え */
	gap: 10px;
	/* ボタン間のスペース */
}

.btn {
	max-width: 100%;
	/* ボタンの幅制限 */
	font-size: 14px;
	/* ボタンの文字サイズ */
	padding: 5px 10px;
	/* 高さを揃える */
}

.col-md-3 {
	flex: 0 0 auto;
	/* 幅を固定 */
	max-width: 120px;
	/* ボタンの最大幅を狭く設定 */
}

.horizontal-container {
	display: flex;
	/* 横並び配置 */
	justify-content: center;
	/* 中央揃え */
	align-items: center;
	/* 垂直方向を揃える */
	gap: 20px;
	/* 各ブロックの間隔 */
	margin-top: 20px;
	/* 上部の余白 */
}

.member-info,
.registration-info {
	text-align: center;
	/* テキストを中央揃え */
	padding: 10px;

	border-radius: 5px;
	/* 角を丸く */
	width: 150px;
	/* 各ブロックの幅 */
	background-color: #f9f9f9;
	/* 背景色 */
}

.btn {
	margin-top: 10px;
	/* ボタンとテキストの間隔 */
	width: 100%;
	/* ボタンをブロック全体に広げる */
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
}

.btn-primary {
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
}

.taberogu-page-link {
	color: #f9f9f9;
}

.taberogu-page-link:hover {
	color: #007BFF;
}

.taberogu-active {
	background-color: #5196a6 !important;
	border-color: #5196a6 !important;
}

.taberogu-pre-wrap {
	/* 改行文字で行を折り返す */
	white-space: pre-wrap;
}

.search-container {
	margin-top: 5px;
	/* テーブルとの間隔調整 */
	text-align: left;
	/* 中央揃え */
}

.samuraitravel-btn {
	background-color: #007bff;
	/* ボタンの青色 */
	color: white;
	/* 文字色を白 */
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.samuraitravel-btn:hover {
	background-color: #0056b3;
	/* ホバー時の色 */
}

.samuraitravel-dropdown-item:active {
	background-color: #5196a6;
}

.image-container {
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: hidden;
}

#dynamicImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* 画像が縦横比を保ちながらエリアに収まるように調整 */
	transition: opacity 1s ease-in-out;
	/* フェードイン・フェードアウトのアニメーション */
}

.fade-out {
	opacity: 0;
}